
# Explicitly ignore noisy apps
BraveSoftware/
heroic/
nvim/
# Ignore everything in .config
.config/*

# Allow root
!.config/

# Keep only these
!.config/kitty/
!.config/kitty/**

!.config/matugen/
!.config/matugen/**

!.config/hypr/
!.config/hypr/**

!.config/quickshell/
!.config/quickshell/**

!.config/starship.toml
